<app-header [showMenu]="true" title="Escanear"></app-header>

<ion-content>
  <div *ngIf="isSupported">
    <video *ngIf="cameraFacingMode === 'user'" #videoFront autoplay playsinline></video>
    <video *ngIf="cameraFacingMode === 'environment'" #videoBack autoplay playsinline></video>
  </div>

  <ion-list>
    <ion-item *ngFor="let barcode of barcodes">
      <ion-label position="stacked">{{ barcode.format }}</ion-label>
      <ion-input type="text" [value]="barcode.rawValue" readonly></ion-input>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="toggleCamera()" [disabled]="!isSupported">
      <ion-icon name="camera-reverse"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
