<app-header [showMenu]="true" title="Asignaturas"></app-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>Programacion de aplicaciones moviles</ion-label>
          <p>1 de 3 clases 25%</p>
        </ion-item>
        <ion-item>
          <ion-label>Ingles Intermedio</ion-label>
          <p>1 de 3 clases 25%</p>
        </ion-item>
        <ion-item>
          <ion-label>Programación de base de datos</ion-label>
          <p>1 de 3 clases 25%</p>
        </ion-item>
        <ion-item>
          <ion-label>Estadistica Descriptiva</ion-label>
          <p>1 de 3 clases 25%</p>
        </ion-item>
        <ion-item>
          <ion-label>Etica</ion-label>
          <p>1 de 3 clases 25%</p>
        </ion-item>
      </ion-list>
</ion-content>