<app-header [showMenu]="true" title="Asignaturas"></app-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let asignatura of asignaturas" (click)="verDetalles(asignatura)">
      <ion-label>
        <h2>{{ asignatura.nombre }}</h2>
        <p>
          <strong>Horario:</strong><br>
          {{ asignatura.horario }}<br>
          <strong>Sección:</strong> {{ asignatura.seccion }}<br>
          <strong>Asistencia:</strong> {{ asignatura.asistencia }} de {{ asignatura.totalClases }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
